{{>sidebar}}
<main class="main-section">
    <div id="item-page-wrapper">
        <div id="top-wrapper">
            {{#if user.isAdmin}}
            <div id="commands">
                <i class="bx bx-edit edit-popup_open icon-popup"></i>
                <i class="bx bx-trash delete-popup_open icon-popup"></i>
            </div>
            {{/if}}

            <div id="left-wrapper">
                {{!-- Image and Name --}}
                <img id="product-img" src="/img/product-images/default.png" />

                <div id="item-attributes-wrapper">
                    <div class="main-attributes-wrapper">
                        <span>Type:&nbsp;</span>
                        <p id="main-attributes-type">{{type}}</p>
                    </div>
                    <div class="main-attributes-wrapper">
                        <span>Selling Type:&nbsp;</span>
                        <p id="main-attributes-selling-type">{{sellingType}}</p>
                    </div>
                    <div class="main-attributes-wrapper">
                        <span>Available Quantity:&nbsp;</span>
                        <p id="main-attributes-available">{{available}}</p>
                    </div>
                    <div class="main-attributes-wrapper">
                        <span>Damaged Quantity:&nbsp;</span>
                        <p id="main-attributes-damaged">{{damaged}}</p>
                    </div>
                </div>
            </div>

            <div id="right-wrapper">
                <p id="item-code">{{code}}</p>

                <p id="item-title">{{name}}</p>

                <div id="description-wrapper">
                    <span>Description</span>
                    <p>{{desc}}</p>
                </div>

                <table id="attributes-table" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Attributes</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        {{!-- Content from item.js --}}
                    </tbody>
                </table>
            </div>
        </div>

        {{>editPopup}} {{>sellPopup}} {{>restockPopup}} {{>removeDamagedPopup}}

        <div id="bottom-wrapper">
            <div id="transaction-header">
                <h1>Transactions</h1>
                <div class="main-action">
                    <button class="restock-popup_open">Restock</button>
                    <button class="sell-popup_open">Sell</button>
                    <button class="remove-damaged-popup_open">Remove Damaged</button>
                </div>
            </div>
            <div id="details-grid" class="w2ui-grid-custom"></div>
        </div>
    </div>
</main>
